.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 140px;
  padding-top: 100px;
}

@media (max-width: 640px) {
  .container {
    margin: 100px 15px 50px;
  }
}
