.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 0px 140px;
  margin-top: 20px;
  padding-top: 100px;

  .shortSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    margin-bottom: 70px;
    // background-color: white;

    & > div {
      background-color: rgba(126, 78, 22, 0.7);
      margin: 6px 5px;
      padding: 6px 15px;
      border: 3px dashed white;
      border-radius: 50px;
      font-size: 25px;
      font-weight: 500;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    .shortSkills {
      margin-bottom: 30px;

      & > div {
        padding: 5px 13px;
        border: 2px dashed white;
        border-radius: 50px;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
}
