.container {
  height: 500px;
  width: 33%;
  min-width: 340px;
  max-width: 400px;
  margin: 30px;
  border-radius: 25px;
  transition: 0.5s ease;
  background-color: blue;

  &:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
  }

  .photo img {
    width: 100%;
    height: 300px;
    border-radius: 15px 15px 0px 0px;
    cursor: pointer;
  }

  .text {
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    padding: 25px;
    text-decoration: none;

    & a {
      text-decoration: none;
      &:hover {
        color: rgb(214, 214, 214);
        text-decoration: underline;
      }
    }
  }
}

.blue_bg {
  background-color: rgb(71, 71, 237);
}

.red_bg {
  background-color: rgb(190, 44, 44);
}

.orange_bg {
  background-color: rgb(213, 123, 20);
}

.green_bg {
  background-color: rgb(8, 61, 11);
}
