.container {
  background-color: rgba(150, 75, 0, 0.3);
  backdrop-filter: blur(5px);
  padding: 20px;
  color: white;
  font-family: "Roboto500";
  margin-top: 80px;
  height: 100px;

  .svgLinks {
    width: min-content;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    & div {
      display: inline;
      width: max-content;
      padding: 5px;
      padding-right: 20px;
      font-size: 20px;
      text-align: left;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 10px;
    height: max-content;
    .svgLinks {
      & div {
        font-size: 14px;
      }
    }
  }
}

a {
  color: white;
}

@media (max-width: 640px) {
  .container {
    padding: 10px;
    height: max-content;
    .svgLinks {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      & div {
        width: max-content;
        font-size: 10px;
      }
    }
  }
}

a {
  color: white;
}
