.block {
  max-width: 1600px;
  background: linear-gradient(
    264.66deg,
    rgba(103, 55, 7, 0.7) 0.81%,
    rgba(42, 42, 42, 0.7) 99.84%
  );
  border: 3px solid #ffffff;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  margin-bottom: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: border 0.3s;

  &:hover {
    border-color: gray;
    transition-duration: 0.3s;
  }

  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;

    &_text {
      font-family: "Roboto500";
      max-height: min-content;
      text-align: left;
      color: white;
      font-size: 50px;
    }

    &_dropdown {
      color: white;
    }
  }

  &_text {
    color: white;
    font-size: 30px;
    font-family: "Roboto400";
    text-align: left;

    &_open {
      max-height: 500px;
      transition: 2s ease;
      animation: textAppearance 1s cubic-bezier(0.4, 0, 1, 1);
      margin-top: 20px;
    }

    &_close {
      max-height: 0px;
      opacity: 0%;
      visibility: hidden;
      transition: 1s ease;
      animation: textDisappearing 0.4s ease;
      margin-top: 0px;
    }
  }
}

@media (max-width: 1024px) {
  .block {
    width: auto;
    padding: 10px 15px;
    margin-bottom: 15px;
    &_title {
      &_text {
        font-size: 25px;
      }
      &_dropdown svg {
        padding-top: 5px;
        height: 20px;
        width: 35px;
      }
    }

    &_text {
      font-size: 20px;
    }
  }
}

@media (max-width: 640px) {
  .block {
    padding: 10px 10px;
    &_title {
      margin: 10px 0px;
      &_text {
        font-size: 20px;
      }
    }
    &_text {
      font-size: 16px;
      &_open {
        margin-top: 10px;
      }
    }
  }
}

@keyframes textAppearance {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes textDisappearing {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
