%montserratAlt-100 {
  font-family: "MontserratAlternates-Thin";
  font-weight: 100;
}

%montserratAlt-200 {
  font-family: "MontserratAlternates-ExtraLight";
  font-weight: 200;
}

%montserratAlt-300 {
  font-family: "MontserratAlternates-Light";
  font-weight: 300;
}

%montserratAlt-400 {
  font-family: "MontserratAlternates-Regular";
  font-weight: 400;
}

%montserratAlt-500 {
  font-family: "MontserratAlternates-Medium";
  font-weight: 500;
}

%montserratAlt-600 {
  font-family: "MontserratAlternates-SemiBold";
  font-weight: 600;
}

%montserratAlt-700 {
  font-family: "MontserratAlternates-Bold";
  font-weight: 700;
}

%montserratAlt-800 {
  font-family: "MontserratAlternates-ExtraBold";
  font-weight: 800;
}

%montserratAlt-900 {
  font-family: "MontserratAlternates-Black";
  font-weight: 900;
}
